body{
  font-size: 12px;
  height: 100vh;
}

.App{
  height: 100%;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: blueviolet;
  margin-bottom: 2rem;

}

.header h1{
  color: white;
}
